ul, 
h1 {
    margin: 0;
    padding: 0;
}


img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #ededf1;
    font-family: Arial, Helvetica, sans-serif;

}

.info2 {
    font-weight: bold
}

.info1 {
    color: gray;
}

.header {
    text-align: center;
    font-size:x-large;
    margin: 50px;
    margin-top: 100px;
}

.list {
    display: flex;
    justify-content: center;
    padding: 32px;
    gap: 16px;
}


.box {
    background-color: #f1f0f3;
    width: 200px;
    border: 1px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    gap: 16px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 25px;
}





